
/****/
.pagination {
	font-family: Tahoma;
	font-size: 12px;
	height: 32px;
	text-align: left;
	padding-top: 12px;
	padding-bottom: 8px;
	overflow: hidden;
	margin-right: 80px;
}

.pagination .container {
	float:right;
	width:450px;
}

.pagination .page-bottom {
	
}

.pagination a,.pagination a:link,.pagination a:visited,.pagination .page-prev,.pagination .page-cur,.pagination .page-start,.pagination .page-end,.pagination .page-next,.pagination .page-break
	{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	height: 24px;
	line-height: 24px;
	margin: 0 4px 0 0;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 14px;
}

.pagination .page-start {
	width: 52px;
	border: 1px solid #c4c4c4;
	font-size: 12px;
}

.pagination .page-start span,.pagination .page-prev span {
	display: none;
}

.pagination .page-cur {
	background-color: #ffede1;
	border: 1px solid #ff7300;
	color: #ff7300;
	font-weight: 700;
	padding: 0 8px;
	font-size: 12px;
}

.pagination a,.pagination .page-next {
	border: 1px solid #c4c4c4;
	padding: 0 8px;
	font-size: 12px;
	font-family: "\5b8b\4f53";
}

.pagination a:hover {
	border: 1px solid #ff7300;
	text-decoration: none;
}

.pagination .page-break {
	padding: 0 3px;
	color: #666;
	font-size: 12px;
}

.pagination .page-next {
	padding-right: 16px;
	font-size: 12px !important;
}

.pagination a.page-prev {
	padding: 0 !important;
	width: 52px;
	font-size: 12px;
}

.pagination a.page-prev:hover {
	border: 1px solid #ff7300;
	text-decoration: none;
}

.pagination .page-end {
	border: 1px solid #c4c4c4;
	padding: 0 5px;
	padding-right: 16px;
	color: #c4c4c4;
	font-size: 12px;
}
/*=∑÷“≥∏ƒ‘Ï*/
.page-op {
	color: #666666;
}

.page-op input {
	width:30px;
}

.page-op #jumpto {
	width: 32px;
	text-align: center;
	border: 1px solid #999999;
	color: #000000;
	font-family: Tahoma, SimSun, Arial;
	height: 16px;
	margin: 0 5px;
	text-align: center;
	vertical-align: middle;;
}

.page-op .total-page {
	padding: 0 3px;
}

.page-op .total-page b {
	font-weight: bold;
}