<meta charset="GBK">
<title>#if($title) $title #else 点点折 - 淘宝返利 #end</title>

<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
<meta name="keywords" content="点点折,折扣网,返利网,返利网站,点点折返利,淘宝返利网,淘宝返现,电子商务,商品折扣,店铺折扣,放心购物,省到底" />
<meta name="description" content="点点折返利网是国内独具特色的折扣导购网站.无需注册直接用淘宝帐号登录,不仅帮你发现淘宝折扣并且直接返现,还帮你挖掘隐藏的折扣,让你在快乐安全购物的同时获得最高额现金返利！"/>

#DDZ_CSS(["home/screens/index.css"])
