<meta charset="GBK">
<title>#if($title && $title != "") $title - #end 点点折_省钱不止一点点</title>

<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
<meta name="keywords" content="点点折,点点折网,点点折返利网,返利网,返利网站,商品折扣,店铺折扣,放心购物" />
<meta name="description" content="点点折返利网是国内独具特色的折扣导购网站.无需注册,帮你发现折扣,让你在快乐安全购物的同时获得最高额现金返利！#if($title && $title != "")点点折网-$title#end"/>
