#set($layout="dcome/frame.q/default.vm")
#set($itemDTO = $itemMap[$id])
<div class="detail-top">
    <span class="nav dd-l"><a href="${env.root}/frame/q/index.htm">首页</a> &gt; $!itemDTO.itemTitle</span>
	<span class="dd-r"></span>
</div>
<div class="detail-cnt">
	<div class="detail-item">
		<div class="image-field dd-l">
			<div class="image-big">
				<a gtrack="" data-target="_blank" title="$!itemDTO.itemTitle" data-href="" href="" target="_blank">
					<img id="show-big-image" alt="" src="$itemDTO.getPicUrl(0,'278x278')" width="278" height="278" />
				</a>
			</div>
			<div class="image-other">
				<ul>
					#foreach($picUrl in $itemDTO.picUrlList)
						#set($index = $velocityCount - 1)
						#if($index < 4)
						<li data-src="$itemDTO.getPicUrl($index,'278x278')" #if($index > 0) class="ml13" #end ><a href="javascript:;" title=""><img src="$itemDTO.getPicUrl($index,'60x60')" width="60" height="60"/></a></li>
						#end
					#end
				</ul>
			</div>
		</div>
		
		<div class="info-field dd-r">
			<div class="item-title">
				<span class="src-logo-TB item-src"></span>
				<span>$!itemDTO.itemTitle</span>
			</div>
			<div class="item-desc">$!itemDTO.recommReason &nbsp;</div>
			<!--
			<div class="dd-mt5"><span class="rate-count">236</span><span class="dd-ml10">票</span><span class="dd-ml20">最近销量:</span><span class="sell-count">84</span></div>
			<div class="dd-mt5">品牌：Xopoz/橡皮擦 | 标签：橡皮</div>
			<div class="dd-mt5">推荐人：衣级棒168</div>
			-->
			<div class="dd-mt20 oprate-field">
				<a href="javascript:;" class="buy-btn"><span>去看看</span></a>
				<!--<a href="javascript:;" class="rate-btn"><span class="arrow"></span><span>顶一下(268)</span></a>-->
				<!--<a href="javascript:;" class="invite-btn"><span>邀请投票</span></a>-->
			</div>
			
			#if($integralCount > 0) 
            <div class="integral"><span>送积分</span> 单件送 <span class="integral-count">$!integralCount</span> <a href="javascript:;">金币</a></div>
			#end
		</div>
	</div>
	
	<div class="detail-comment">
		<div class="main">
			<div class="comment-nav" id="comment-nav">
				<dl>
					<dt></dt>
					<dd class=""><a href="javascript:;"><span>评论</span></a></dd>
					<!--
					<dd class="on lb"><a href="javascript:;"><span>喜欢的人说(20)</span></a></dd>
					<dd class="lb"><a href="javascript:;"><span>买过的人说(10)</span></a></dd>
					-->
				</dl>
			</div>
			<div class="comment-pub dd-clear" data-maxlen="140" data-item-id="$!itemDTO.id">
				<div class="dd-ml10 dd-mt10">
					<img data-avatar-src="$avatarUtils.getAvatarUrl($dcAuthz.userId , '50x50')" data-avatar-size="50x50" class="user-img"></img>
					<textarea class="content"></textarea>
                    <div class=""></div>
					<div>
						<a href="javascript:;" class="comment-btn" id="submit"><span>评论</span></a>
					</div>
				</div>
			</div>
			<ul class="list dd-clear">
				#foreach($comment in $commentList)
				<li>
					<div class="user-pic"><img data-avatar-src="$avatarUtils.getAvatarUrl($comment.userId , '50x50')" data-avatar-size="50x50"></div>
					<div class="dd-l">
						<div class="user-name">$!comment.userNick&nbsp;<span class="worth"></span></div>
						<div class="content">$!comment.content</div>
					</div>
					<div class="source">来自 #if($comment.source == 'qq_qzone') QQ空间 #elseif($comment.source == 'qq_pengyou') 朋友网  #else 互联网  #end</div>
				</li>
				#end
			</ul>
            <div class="dd-hide" id="commentTemplate">
				<div class="user-pic"><img data-avatar-src="@user_avatar@" data-avatar-size="50x50"></div>
    				<div class="dd-l">
    					<div class="user-name">@user_nick@<span class="worth"></span></div>
    					<div class="content">@comment_content@</div>
    				</div>
    			<div class="source">来自 @comment_source@</div>
			</div>
		</div>
	</div>
	
</div>

<div class="cnt-pgc">
	<div class="separator-dot"></div>
	<div class="banner-pic"></div>
	#parse("/common/dcome.qq/pgc_recommend.vm")
</div>
