
#macro(DDZ_JS $libs)
   #foreach ($key in $libs)
   #set($version = $staticVerUtils.ver($!key))   
   <script type="text/javascript" src="${env.ddzStaticroot}/js/$!key?v=$!version"></script>
   #end
#end


#macro(DDZ_CSS $libs)
	#foreach ($key in $libs)
	#set($version = $staticVerUtils.ver($!key))
	<link  rel="stylesheet" type="text/css" href="${env.ddzStaticroot}/css/$!key?v=$!version" />
	#end
#end

##¶¹Þ¢QQ¿Õ¼äresource
#macro(DC_QRES $libs)
	#foreach ($key in $libs)
    	#set($version = $staticVerUtils.ver($!key))
    	#if($stringUtils.endsWithIgnoreCase($key,"js"))
    	<script type="text/javascript" src="${env.staticroot}/dcome/q/$!key?v=$!version"></script>
    	#elseif($stringUtils.endsWithIgnoreCase($key,"css"))
    	<link  rel="stylesheet" type="text/css" href="${env.staticroot}/dcome/q/$!key?v=$!version" />
    	#end
	#end
#end

##ÐÇ×ù±´±´
#macro(HS_QRES $libs)
	#foreach ($key in $libs)
		#set($version = $staticVerUtils.ver($!key))
		#if($stringUtils.endsWithIgnoreCase($key, "js"))
		<script type="text/javascript" src="${env.staticroot}/horoscope/frame/hs/$!key?v=$!version"></script>
		#elseif($stringUtils.endsWithIgnoreCase($key, "css"))
		<link rel="stylesheet" type="text/css" href="${env.staticroot}/horoscope/frame/hs/$!key?v=$!version" />
		#end
	#end
#end

#macro(RESOURCE $libs)
	#foreach ($key in $libs)
    	#set($version = $staticVerUtils.ver($!key))
    	#if($stringUtils.endsWithIgnoreCase($key,"js"))
    	<script type="text/javascript" src="${env.staticroot}/$!key?v=$!version"></script>
    	#elseif($stringUtils.endsWithIgnoreCase($key,"css"))
    	<link  rel="stylesheet" type="text/css" href="${env.staticroot}/$!key?v=$!version" />
    	#end
	#end
#end
