#set($layout="bops/default_bops.vm")
#set($navigation = "账号查询")



#set($page = $accountResult.pagination.page)
#set($totalPages = $accountResult.pagination.totalPages)
#set($size = $accountResult.pagination.size)


#set($searchUrl = ${env.bopsRoot}+"/bops/zhe/account_list.htm?") 
#set($searchQuery = ["gmtCreateStart:$!dateUtils.format($!gmtCreateStart,'yyyy-MM-dd')","gmtCreateEnd:$!dateUtils.format($!gmtCreateEnd,'yyyy-MM-dd')","alipayId:$!alipayId","page:$!page"])

<input type="hidden"  id="ddzBopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="ddzBopsPage" value="accountList"/>

<div class="bops">
	
	
	<form action="${env.bopsRoot}/bops/zhe/account_list.htm" method="GET">
    	<div style="padding:10px;margin-top:15px;border-top:1px solid #aaaaaa;border-bottom:1px solid #aaaaaa;text-align:center;">
			#if($gmtCreateStart)
				#set($startDate = $gmtCreateStart)
			#else
				#set($startDate = $dateUtils.now())
			#end
			起始时间： <input  type="text" id="gmtCreateStart" name="gmtCreateStart" value="$!dateUtils.format($!startDate,'yyyy-MM-dd')" placeholder="yyyy-MM-dd" />
			&nbsp;&nbsp;
			#if($gmtCreateEnd)
				#set($endDate = $gmtCreateEnd)
			#else
				#set($endDate = $dateUtils.now())
			#end
			结束时间：<input  type="text" id="gmtCreateEnd" name="gmtCreateEnd" value="$!dateUtils.format($!endDate,'yyyy-MM-dd')" placeholder="yyyy-MM-dd"/>
			&nbsp;&nbsp;
			支付宝：<input  type="text" name="alipayId" value="$!alipayId" />
    		<input type="submit" value="查询" />
    	</div>
	
    </form>
	
	#if($accountResult.totalRecords > 0)
	
    	#parse("/common/bops/zhe/accountListPagination.vm")
        
        <table width="1080" style="font-size:14px;" id="settleTable">
        	<tr>
        		<th width="30">序号</th>
				<th width="100">accountId</th>
				<th width="120">支付宝</th>
				<th width="80">创建时间</th>
        	</tr>
        	
            #foreach($item in $accountResult.items)
        		#set($idx = (($page - 1)*$size) + $velocityCount )        		
        		<tr>
            		<td align="center">$idx</td>
					<td>
						<div class="darkGray">$!item.accountId</div>
					</td>
					<td>
                        <div class="darkGray">
							$!item.alipayId
							<a href="javascript:;" data-alipay="$!item.alipayId"><img src="${env.ddzStaticroot}/img/info.png" title="点击查看支付宝详情"></img></a>
							<a href="${env.ddzRoot}/zhe/my.htm?alipayId=$!item.alipayId" target="_blank">绿</a>
						</div>
					</td>
					<td>$dateUtils.format($item.gmtCreate,'yyyy-MM-dd HH:mm:ss')</td>
            	</tr>
        	#end
           
        </table>
        
        #parse("/common/bops/zhe/accountListPagination.vm")
	#else
		没有查询到记录
	#end
</div>

<div class="layer_tips layer_tips_version layer_tips_intro alipay_detail_tips dd-hide" id="alipay_detail_tips" >
	<div class="layer_tips_bg">
		<a class="W_close_color layer_tips_close" href="javascript:;" data-id="alipay_detail_tips"></a>
		<div node-type="inner" class="layer_tips_cont">
			<ul>
                <li>支付宝：<span id="alipayAccount"></span></li>
				<li>创建时间：<span id="createDate"></span></li>
				<li>结算笔数：<span id="settleCount"></span></li>
				<li>结算金额：<span id="totalSettleFee"></span></li>
			</ul>
		</div>
		<span class="arrow_left" node-type="arrow" style=""></span>
	</div>
</div>

