#set($layout="bops/default_bops.vm")
#set($navigation = "账号查询")
<style>
	#parse("/common/bops/page_css.vm")
	
	.darkGray {
		color:#555555;
	}
	
</style>

#set($page = $accountResult.pagination.page)
#set($totalPages = $accountResult.pagination.totalPages)
#set($size = $accountResult.pagination.size)


#set($searchUrl = ${env.ddzRoot}+"/bops/zhe/account_list.htm?") 
#set($searchQuery = ["gmtCreateStart:$!dateUtils.format($!gmtCreateStart,'yyyy-MM-dd')","gmtCreateEnd:$!dateUtils.format($!gmtCreateEnd,'yyyy-MM-dd')","alipayId:$!alipayId","page:$!page"])


<div class="bops">
	<form action="${env.bopsRoot}/bops/zhe/account_list.htm" method="GET">
    	<div style="padding:10px;margin-top:15px;border-top:1px solid #aaaaaa;border-bottom:1px solid #aaaaaa;text-align:center;">
			#if($gmtCreateStart)
				#set($startDate = $gmtCreateStart)
			#else
				#set($startDate = $dateUtils.now())
			#end
			起始时间： <input  type="text" name="gmtCreateStart" value="$!dateUtils.format($!startDate,'yyyy-MM-dd')" placeholder="yyyy-MM-dd" />
			&nbsp;&nbsp;
			#if($gmtCreateEnd)
				#set($endDate = $gmtCreateEnd)
			#else
				#set($endDate = $dateUtils.now())
			#end
			结束时间：<input  type="text" name="gmtCreateEnd" value="$!dateUtils.format($!endDate,'yyyy-MM-dd')" placeholder="yyyy-MM-dd"/>
			&nbsp;&nbsp;
			支付宝：<input  type="text" name="alipayId" value="$!alipayId" />
    		<input type="submit" value="查询" />
    	</div>
	
    </form>
	
	#if($accountResult.totalRecords > 0)
	
    	#parse("/common/bops/zhe_accountListPagination.vm")
        
        <table width="1080" style="font-size:14px;" id="settleTable">
        	<tr>
        		<th width="30">序号</th>
				<th width="100">accountId</th>
				<th width="120">支付宝</th>
				<th width="80">创建时间</th>
        	</tr>
        	
            #foreach($item in $accountResult.items)
        		#set($idx = (($page - 1)*$size) + $velocityCount )        		
        		<tr>
            		<td align="center">$idx</td>
					<td>
						<div class="darkGray">$!item.accountId</div>
					</td>
					<td>
						<div class="darkGray">$!item.alipayId</div>
					</td>
					<td>$dateUtils.format($item.gmtCreate,'yyyy-MM-dd HH:mm:ss')</td>
            	</tr>
        	#end
           
        </table>
        
        #parse("/common/bops/zhe_accountListPagination.vm")
	#else
		没有查询到记录
	#end
</div>
	
#DDZ_JS(["lib/jquery-min.js"])

<script type="text/javascript">

	
</script>