#set($layout="bops/default_bops.vm")
#set($navigation = "别人正在买")

#set($page = $recommendResult.pagination.page)
#set($totalPages = $recommendResult.pagination.totalPages)
#set($size = $recommendResult.pagination.size)

	
#set($searchUrl = ${env.ddzRoot}+"/bops/zhe/buying_recommend.htm?")
#set($searchQuery = ["batchNo:$!batchNo","recommendType:$!recommendType"])

<input type="hidden"  id="ddzBopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="ddzBopsPage" value="buyingRecommend"/>

<div class="bops">
	<div style="padding:10px;margin-top:15px;border-top:1px solid #aaaaaa;border-bottom:1px solid #aaaaaa;text-align:center;">
            <div>缓存： #if($!cacheDate.item) 共 $!cacheDate.item.size() 项  at [$!dateUtils.format($cacheDate.gmtCreate , 'yyyy-MM-dd HH:mm:ss')] #else 没有缓存数据 #end</div>
			操作完成后，请 <input type="button" onclick="refreshCache();" value="刷新缓存数据" id="refreshCacheBtn"/>
    </div>
		
	<form action="${env.bopsRoot}/bops/zhe/buying_recommend.htm" method="GET">
    	<div style="padding:10px;margin-top:15px;border-top:1px solid #aaaaaa;border-bottom:1px solid #aaaaaa;text-align:center;">
			时间批号： <input  type="text" name="batchNo" value="$!batchNo"  />
			&nbsp;&nbsp;
			<input  type="hidden" name="recommendType" value="B" />
    		<input type="submit" value="查询" />
    	</div>
	
    </form>
	
	
	
	#if($recommendResult.totalRecords > 0)
		<div>
    	#parse("/common/bops/zhe_buyingRecommendPagination.vm")
		</div>
		<div style="clear:both;margin:20px;">    	
            #foreach($item in $recommendResult.items)
        		#set($index = $velocityCount)    
				<div style="float:left;margin:5px;">
					<div style="">
						<a href="http://item.taobao.com/item.htm?id=$item.recommend.numIid" target="_blank">
						<img style="border:1px solid #aaaaaa;" width="120" height="120" alt="$!item.recommend.itemTitle" title="$!item.recommend.itemTitle" src="$item.getItemPicUrl('120x120')" ></img>
                        </a>
					</div>
    				<div style="font-size:12px;">
						#if($item.recommend.isDisplay == 'T')
							#set($isDisplay = "F")
							#set($showText = "不显示")
						#else
							#set($isDisplay = "T")
							#set($showText = "显示")
						#end
						
                        $item.recommend.numIid<span><a href="javascript:;" data-display="$isDisplay" data-id="$item.recommend.id">$showText</a></span>
                    </div>
					<div style="font-size:12px;width:120px;height:34px;overflow:hidden;#if($item.recommend.isDisplay != 'T') color:red;  #end" title="$item.recommend.itemTitle">
						$item.recommend.itemTitle
                    </div>
    				
                </div>
        	#end
           
		</div>  
		<div>
        #parse("/common/bops/zhe_buyingRecommendPagination.vm")
        </div>
	#else
		没有查询到记录
	#end
</div>
