#set($layout="bops/default_bops.vm")
#set($navigation = "淘宝客报表结算")

#set($page = $settleResult.pagination.page)
#set($totalPages = $settleResult.pagination.totalPages)
#set($size = $settleResult.pagination.size)

<style>
	.settleIpt {
		padding:10px;
		margin-top:15px;
		border-top:1px solid #aaaaaa;
		border-bottom:1px solid #aaaaaa;
		text-align:center;
		text-align:left;
	}
	
	.alipayBatchno {
		width:80px;
		overflow:hidden;
		text-overflow:ellipsis ;
	}
	
	.settleAlipay {
		width:140px;
		overflow:hidden;
		text-overflow:ellipsis ;
	}
	
	.settleFee {
		margin-left:5px;
	}
	
	.settleFeeTitle a , .settleFeeTitle a:hover ,.settleFeeTitle a:active , .settleFeeTitle a:visited {
		text-decoration:none ;
		color : #000;
	}
	
	.dateIpt {
		width:100px;
	}
	
	.settleIptMore {
		margin-top:10px;
		padding:5px 0 0 10px;
		border-top: 1px solid #cccccc;
		font-size:14px;
	}
	
	.smallDate {
		font-size:10px;
	}
	
	.sortBtn {
		margin-left:3px;
		cursor:pointer ;
	}
	
	.highlightBk {
		background-color:#ffff7d;
	}
	
	.taokeReportDetail a , .taokeReportDetail a:hover , .taokeReportDetail a:active , .taokeReportDetail a:hover {
		color: #444444;
        text-decoration: underline;
	}
		
</style>

<style>
	
</style>

#set($gmtSettledStartFormat = $dateUtils.format($!gmtSettledStart,'yyyy-MM-dd'))
#set($gmtSettledEndFormat = $dateUtils.format($!gmtSettledEnd,'yyyy-MM-dd'))
#set($gmtCreateStartFormat = $dateUtils.format($!gmtCreateStart,'yyyy-MM-dd'))
#set($gmtCreateEndFormat = $dateUtils.format($!gmtCreateEnd,'yyyy-MM-dd'))


##分页
#set($searchUrl = ${env.bopsRoot}+"/bops/zhe/taoke_report_settle.htm?")
#set($searchQuery = ["settleAlipay:$!settleAlipay","settleStatus:$!settleStatus","settleBatchno:$!settleBatchno",
	"gmtSettledStart:$!gmtSettledStartFormat","gmtSettledEnd:$!gmtSettledEndFormat",
	"gmtCreateStart:$!gmtCreateStartFormat","gmtCreateEnd:$!gmtCreateEndFormat",
	"order:$!order","size:$!size"])

<input type="hidden"  id="ddzBopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="ddzBopsPage" value="taokeReportSettle"/>

<div class="bops">
	<form action="${env.bopsRoot}/bops/zhe/taoke_report_settle.htm" method="GET">
    	<div class="settleIpt">
			<div>
    			结算批号： <input  type="text" name="settleBatchno" value="$!settleBatchno" />
    			&nbsp;&nbsp;
    			支付宝 ：<input  type="text" name="settleAlipay" value="$!settleAlipay" />
    			&nbsp;&nbsp;
        		结算状态：
        		<select name="settleStatus">
	                <option value="" #if($settleStatus == "") selected #end>全部</option>
	    			<option value="U" #if($settleStatus == "U") selected #end>未结算</option>
	    			<option value="P" #if($settleStatus == "P") selected #end>结算中</option>
	    			<option value="F" #if($settleStatus == "F") selected #end>失败</option>
	    			<option value="S" #if($settleStatus == "S") selected #end>成功</option>
	    			<option value="C" #if($settleStatus == "C") selected #end>取消</option>
	    			<option value="D" #if($settleStatus == "D") selected #end>延迟结算</option>
	            </select>
    			&nbsp;&nbsp;
    			
        		<input type="submit" value="查询" /> [<a href="javascript:;"id="settleIptMoreBtn" style="font-size:12px;">更多查询条件</a>]
			</div>
            
			<div id="settleIptMore" class="settleIptMore #if(!$gmtSettledStart && !$gmtSettledEnd && !$gmtCreateStart && !$gmtCreateEnd) dd-hide #end">
				<span>
				记录创建时间： 
					<input type="text" id="gmtCreateStart" name="gmtCreateStart" class="dateIpt" value="$!gmtCreateStartFormat"/> - 
					<input type="text" id="gmtCreateEnd" name="gmtCreateEnd"class="dateIpt" value="$!gmtCreateEndFormat"/>
                </span>
                <span style="margin-left:10px;">
                
				结算时间： 
					<input type="text" id="gmtSettledStart" name="gmtSettledStart" class="dateIpt" value="$!gmtSettledStartFormat"/> - 
					<input type="text" id="gmtSettledEnd" name="gmtSettledEnd" class="dateIpt" value="$!gmtSettledEndFormat"/>
				</span>
				
                
			</div>
			
			
    	</div>
    </form>
	#if($settleResult.totalRecords > 0)
	<form action="${env.bopsRoot}/bops/zhe/settle_sms_export.htm" method="get" id="exportSmsForm">
		<input type="hidden" name="settleStatus" value="S"/>
		<input type="hidden" name="format" value="txt"/>
		<input type="hidden" name="settleBatchno" value="$!settleBatchno" />
		<input  type="hidden" name="settleAlipay" value="$!settleAlipay" />
		<input type="hidden" name="gmtSettledStart" value="$!gmtSettledStartFormat"/>
		<input type="hidden" name="gmtSettledEnd"  value="$!gmtSettledEndFormat"/>
		<input type="hidden" name="gmtCreateStart" value="$!gmtCreateStartFormat"/>
		<input type="hidden" name="gmtCreateEnd"  value="$!gmtCreateEndFormat"/>
		
		<input type="submit" value="导出短信模板" />
    </form>
	#end
	
	#if($settleResult.totalRecords > 0)
	
    	#parse("/common/bops/zhe/reportPagination.vm")
		
		#if($order == "settle_fee--desc")
			#set($sortStyle = "dbsort_desc")
		#elseif($order == "settle_fee--asc")
			#set($sortStyle = "dbsort_asc")
		#else
			#set($sortStyle = "dbsort_none")
		#end
        
        <table width="1080" style="font-size:14px;" id="settleTable">
        	<tr>
        		<th width="30">序号</th>
				<th width="80">结算批号</th>
				<th width="80">支付宝批号</th>
				<th width="200">支付宝</th>
                <th width="70" class="settleFeeTitle"><a href="#if($order == 'settle_fee--desc') #SEARCH_URL(['order:settle_fee--asc']) #else #SEARCH_URL(['order:settle_fee--desc']) #end ">结算金额<span class="$sortStyle sortBtn"></span></a></th>
				<th width="50">状态</th>
				<th width="70">支付宝状态</th>
				<th width="120">结算时间</th>
				<th width="120">创建时间</th>
        		<th width="70">查看</th>
				<th width="50">操作</th>
        	</tr>
        	
            #foreach($settle in $settleResult.items)
        		#set($idx = (($page-1)*$size) + $velocityCount )
				#set($settleColor = "settle_" + $settle.settleStatus)
        		        		
        		<tr data-trIndex="$velocityCount" class="settleTableTr">
            		<td align="center">$idx</td>
					<td align="center">
						<div class="darkGray">$!settle.settleBatchno</div>
					</td>
					<td>
						<div class="darkGray alipayBatchno" title="$!settle.alipayBatchno">$!settle.alipayBatchno</div>
					</td>
                    <td>$!settle.settleAlipay <a href="javascript:;" data-alipay="$!settle.settleAlipay"><img src="${env.ddzStaticroot}/img/info.png" title="点击查看支付宝详情"></img></a></td>
					<td>
                        <span class="$settleColor B settleFee">&yen; $decimalUtils.format($!settle.settleFee,'0.00')</span>
        			</td>
        			<td align="center">
        				#if($settle.settleStatus == "U")
        					<span class="$settleColor">未结算</span>
        				#elseif($settle.settleStatus == "S")
        					<span class="$settleColor">成功</span>
        				#elseif($settle.settleStatus == "P")
        					<span class="$settleColor">结算中</span>
        				#elseif($settle.settleStatus == "F")
        					<span class="$settleColor">失败</span>
						#elseif($settle.settleStatus == "C")
        					<span class="$settleColor">取消</span>
        			    #elseif($settle.settleStatus == "D")
        					<span class="$settleColor">延迟结算</span>
        				#else
        					<span class="settle_f">异常（$settle.settleStatus）</span>
        				#end
        			</td>
					<td align="center">
						#if($settle.settleStatus == "F")
        					<span class="settle_F">失败</span>
        				#elseif($settle.settleStatus == "S")
        					<span class="darkGray">成功</span>
						#end
					</td>
					<td align="center">
                        <div>$!dateUtils.format($!settle.gmtSettled , 'yyyy-MM-dd HH:mm')</div>
    				</td>
    				<td align="center">
                        <div>$!dateUtils.format($!settle.gmtCreate , 'yyyy-MM-dd HH:mm')</div>
						<div class="dd-hide">$!dateUtils.format($!settle.gmtModified , 'yyyy-MM-dd HH:mm')</div>
    				</td>
        			<td align="center" class="updown-select-btn">
        				<a href="javascript:;" data-settleId="$settle.id" data-trIndex="$velocityCount" data-settleDetail="">详情<span class="icon-pull-down">&nbsp;</span></a>
        			</td>
					<td align="center" class="ui-customize-select updown-select-btn">
                        <div class="current-item" data-trIndex="$velocityCount"><a href="javascript:;">订正</a><span class="icon-pull-down">&nbsp;</span>
							<div class="ui-customize-select-list dd-hide" style="margin:-18px 0 0 -4px;">
                            	<ul class="normal-list">
                            		<li class="first" dead="true" >
                            			<span>订正状态</span>
                            		</li>
									
                                    #if($!settle.settleStatus == 'U')
									<li class="split" tips="所有操作都记录在案，请谨慎操作" data-settleTo="D" data-settleId="$!settle.id">
										<span>延迟结算</span>
									</li>
                                    #end
									#if($!settle.settleStatus != 'S')
									<li class="split" tips="所有操作都记录在案，请谨慎操作" data-settleTo="S" data-settleId="$!settle.id">
                            			<span>成功</span>
                            		</li>
									#end
									#if($!settle.settleStatus != 'F')
                            		<li class="split" tips="所有操作都记录在案，请谨慎操作" data-settleTo="F" data-settleId="$!settle.id">
                            			<span>失败</span>
                            		</li>
									#end
									#if($!settle.settleStatus == 'U' || $!settle.settleStatus == 'D')
                                    <li class="split" tips="所有操作都记录在案，请谨慎操作" data-settleTo="C" data-settleId="$!settle.id">
										<span>取消</span>
									</li>
									#end
									#if($!settle.settleStatus == 'F' || $!settle.settleStatus == 'C' || $!settle.settleStatus == 'D')
                                    <li class="split" tips="所有操作都记录在案，请谨慎操作" data-settleTo="U" data-settleId="$!settle.id">
										<span>重新结算</span>
									</li>
									#end
									<li class="last" dead="true">
										<span></span>
									</li>
                            	</ul>
                            </div>
						</div>
						
                    </td>
            	</tr>
				<tr class="dd-hide taokeReportDetail" align="center" data-keepTrIndex="$velocityCount">
                    <td colspan="11"></td>
                </tr>
        	#end
           
        </table>
        
        #parse("/common/bops/zhe/reportPagination.vm")
	#else
		没有查询到记录
	#end
</div>



<div class="layer_tips layer_tips_version layer_tips_intro alipay_detail_tips dd-hide" id="alipay_detail_tips" >
	<div class="layer_tips_bg">
		<a class="W_close_color layer_tips_close" href="javascript:;" data-id="alipay_detail_tips"></a>
		<div node-type="inner" class="layer_tips_cont">
			<ul>
                <li>支付宝：<span id="alipayAccount"></span></li>
				<li>创建时间：<span id="createDate"></span></li>
				<li>结算笔数：<span id="settleCount"></span></li>
				<li>结算金额：<span id="totalSettleFee"></span></li>
			</ul>
		</div>
		<span class="arrow_left" node-type="arrow" style=""></span>
	</div>
</div>

<div id="J-select-tips-container" class="select-tips dd-hide">
	<div class="content">安全提醒：自行编辑，非系统消息</div>
	<div class="angle" style="top: 7px;"></div>
</div>

<script>
!(function($){
	
})(jQuery);
</script>