#set($layout="bops/default_bops.vm")
#set($navigation = "淘宝客报表结算")
<style>
	#parse("/common/bops/page_css.vm")
</style>

#set($page = $reportItems.pagination.page)
#set($totalPages = $reportItems.pagination.totalPages)
#set($size = $reportItems.pagination.size)

<div class="bops">
	<form action="${env.bopsRoot}/bops/zhe/taoke_report.htm" method="GET">
    	<div style="padding:10px;margin-top:15px;border-top:1px solid #aaaaaa;border-bottom:1px solid #aaaaaa;text-align:center;">
			打款批号： <input  type="text" name="payBatchno" value="$!payBatchno" />
			&nbsp;&nbsp;
			支付宝 ：<input  type="text" name="settleAlipay" value="$!settleAlipay" />
			&nbsp;&nbsp;
    		结算状态：
    		<select name="settleStatus">
                <option value="" #if($settleStatus == "") selected #end>全部</option>
    			<option value="U" #if($settleStatus == "U") selected #end>未结算</option>
    			<option value="P" #if($settleStatus == "P") selected #end>结算中</option>
    			<option value="F" #if($settleStatus == "F") selected #end>失败</option>
    			<option value="S" #if($settleStatus == "S") selected #end>成功</option>
            </select>
			&nbsp;&nbsp;
			
    		<input type="submit" value="查询" />
    	</div>
	
    </form>
	
	#if($reportItems.totalRecords > 0)
	
    	#parse("/common/bops/zhe_reportPagination.vm")
        
        <table width="1080" style="font-size:14px;">
        	<tr>
        		<th width="30">序号</th>
        		<th width="220">商品名称</th>
				<th width="110">outCode/打款批号</th>
        		<th width="120">支付宝</th>
    			<th width="50">价格</th>
    			<th width="80">报表佣金</th>
        		<th width="80">用户佣金</th>
        		<th width="120">成交时间/同步时间</th>
        		<th width="40">结算</th>
        		<th width="30">选择</th>
        	</tr>
        	
            #foreach($report in $reportItems.items)
        		#set($idx = (($page-1)*$size) + $velocityCount )
        		#if($report.settleStatus == "U")
        			#set($settleClass = "settle_u")
        		#elseif($report.settleStatus == "S")
        			#set($settleClass = "settle_s")
        		#elseif($report.settleStatus == "P")
        			#set($settleClass = "settle_p")
        		#elseif($report.settleStatus == "F")
        			#set($settleClass = "settle_f")
        		#else
        			#set($settleClass = "settle_f")
        		#end
        		
        		<tr>
            		<td align="center">$idx</td>
                    <td>
        				<span title="$report.itemTitle">$stringUtils.substring($report.itemTitle,15 , "...")</span>
                        <div class="GRAY">交易号：$!report.tradeId</div>
        			</td>
            		<td>
						$!report.outCode
						#if($report.payBatchno)
						<div class="settle_s">打款批号：$report.payBatchno</div>
						#end
					</td>
        			<td>$!report.settleAlipay</td>
    				<td>&yen; $!report.realPayFee</td>
    				<td>
                        <span class="B">&yen; $decimalUtils.format($!report.commission,'#####0.00')</span>
                        <div><span class="F10">比例：$decimalUtils.format($!decimalUtils.multiply($!report.commissionRate,100),'#####0.00') %</span></div>
        			</td>
            		<td>
						#if($report.settleAlipay)
                        <span class="$settleClass B">&yen; $decimalUtils.format($!report.userCommission,'######0.00')</span>
                        <div><span class="$settleClass F10">比例：$decimalUtils.format($!decimalUtils.multiply($!report.userCommissionRate,100),'#####0.00') %</span></div>
						#end
        			</td>
            		<td align="center">
    					<div>$dateUtils.format($report.gmtPaid , "yyyy-MM-dd HH:mm")</div>
    					<div style="height:1px;border-bottom:1px solid #eeeeee;"></div>
                        <div>$dateUtils.format($report.gmtCreate , "yyyy-MM-dd HH:mm")</div>
    				</td>
        			<td align="center">
        				#if($report.settleStatus == "U")
        					<span class="$settleClass">未结算</span>
        				#elseif($report.settleStatus == "S")
        					<span class="$settleClass">成功</span>
        				#elseif($report.settleStatus == "P")
        					<span class="$settleClass">结算中</span>
        				#elseif($report.settleStatus == "F")
        					<span class="$settleClass">失败</span>
        				#else
        					<span class="settle_f">异常（$report.settleStatus）</span>
        				#end
        			</td>
        			<td align="center">
        				#if($report.settleStatus == "P")
        				<input type="checkbox" value="$!report.id" class="clsBatchSettle" id="settle$report.id" name="clsBatchSettle"/>
        				#end
        				<a href="javascript:;" onclick=""></a>
        			</td>
            	</tr>
        	#end
           
        </table>
        
        <div style="width:98%;margin-top:20px;text-align:right;">
            <span class="btn_s"><a href="javascript:;" onclick="settle('S');">批量成功</a></span>
            
            <span class="btn_f"><a href="javascript:;" onclick="settle('F');">批量失败</a></span>
    	</div>
        #parse("/common/bops/zhe_reportPagination.vm")
	#else
		没有查询到记录
	#end
</div>
	
#DDZ_JS(["lib/jquery-min.js"])

<script type="text/javascript">

	var settle = function(status){
		
		var url = "${env.bopsRoot}/bops/zhe/remote/settle_report_ajax.htm"
		var idString = "" ;
		var allInput = $(".clsBatchSettle") ;
		var selectedCount = 0 ;
		for(var i=0 ;i<allInput.length ;i++){
			var input = allInput[i] ;
			if(input.type == "checkbox" && input.checked == true){
				var id = input.value ;
				idString += id + "," ;
				selectedCount += 1 ;
			}
		}
		
		if(selectedCount <= 0){
			alert('没有选择的记录') ;
			return ;
		}
		
		if(!confirm('确定批量结算[' + selectedCount + ']笔记录？')){
			return ;
		}
		
		$.ajax({
			url: url ,
			type : "POST" ,
			data : { ids: idString , settleTo: status },
			success : function(data){
				var json = data.json ;
				var code = json.code ;
				var data = json.data ;
				var detail = json.detail ;
				if(code == 'success') { 
					alert('结算完成，成功[' + data + ']笔记录');
					window.location.reload() ;
				} else {
					alert('结算失败. 原因：' + detail ) ;
				}
			} , 
			error : function(data){
				alert('error ! ' + data) ;
			}
		}) ;
	}
	
	var toPage = function(page , size){
		var element = document.getElementById("jumpto") ;
		element.value = page ;
		document.getElementById("form_page").submit() ;
	}
</script>