body {
	color: #666;
	text-align: center;
	font-family: "Î¢ÈíÑÅºÚ", Tahoma, Arial, "ËÎÌåb8b\4f53", sans-serif;
}

.dc-body {
  	width:760px;
  	margin: 0 auto;
  	clear: both;
}

.dc-body .head {
	position: relative;
}

.qzone {
	z-index:999999;
	border: 1px solid #0481c1;
	position: absolute;
	top: 120px;
	right:10px;
	width: 120px;
	height: 60px;
	border-radius: 3px 3px;
	text-align: center;
	background-color: #ddd;
	font-size: 12px;
}

.qzone .follow {
	position: absolute;
}

.qzone .weibo {
	left :20px;
}

.dc-body .head .logo {
	margin-left: 30px;
	margin-top:20px;
	float: left ;
	overflow: visible;
	
}

.dc-body .head .logo img {
	width: 80px;
	height: 80px;
	border: 1px solid #aaa;
	margin-left: 10px;
	margin-left: 20px\9;
	float: left;
	clear: both;
}

.dc-body .head .logo .my-wryneck-text {
	width:150px;
	text-align: left ;
	font-size: 12px;
	color: #aaa;
	float: left ;
	margin: 10px 0 0 0;
	margin-left : 20px\9;
	font-family: Arial;
	clear: both;
}

.dc-body .head .slogan {
	font-size: 30px;
	position: absolute;
	left:150px;
	top: 10px;
	font-family: "Î¢ÈíÑÅºÚ", Tahoma, Arial, "ËÎÌåb8b\4f53", sans-serif;
	font-weight: bold;
	text-align: left;
	color: #444;
}

.dc-body .head .sub-slogan {
	font-size: 14px;
	color: #666;
	font-weight: normal;
	font-family: Arial;
}

.download-guide {
	text-align: left;
	line-height: 30px;
	margin-top: 10px;
}

.download-guide .gt {
	font-family: 'ËÎÌå' , Arial ;
}

.pic-list {
	clear: both;
	position: relative;
}

.pic-list li {
	float:left ;
	margin: 5px;
	border: 1px solid #aaa;
	cursor: pointer;
	position: relative;
}

.pic-list li img {
	width:50px;
	height: 50px;
	overflow: hidden;
}

.pic-list li .cover {
	position: absolute;
	z-index: 9;
	width: 80px;
	height: 80px;
}

.pic-list li .download {
	background: url("images/download.png") no-repeat;
	width: 48px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	
}

.blank-wrap {
	height: 40px;
	clear: both;
}

.ad {
	width: 760px;
	margin: 0 auto;
	margin-top : 20px;
}

.foot {
	clear: both ;
	margin: 30px;
}

#weibo {
    position: absolute;
	top: 120px;
	right: 30px;
	border: 1px solid #ddd;
	border-radius: 3px 3px;
	text-align: center;
	background-color: #f392b6;
	z-index: 999;
	width: 60px;
}

.weibo-btn {
    width:65px;
	height:40px;
	border:none;
	overflow:hidden;
	margin-top: 20px;
}

.qzone-btn {
    width:65px;
	height:40px;
	border:none;
	overflow:hidden;
	margin-top: 20px;
}
/**
.close-btn {
	background: url("close-btn.png") no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	float: right;
	position: relative;
	margin-right: -10px;
	margin-top: -10px;
	z-index: 999;
}
**/
.dc-body .head {
    width: 100%;
	height: 145px;
	position: relative;
}

.toolbar a.btn {
	background-color: #FF4444;
	background-image: -moz-linear-gradient(center top, #FF4444, #EF3434);
	border-color: #FF4444 #FF4444 #D12222;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	overflow: hidden;
	padding: 0 7px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	line-height: 20px;
	margin-top: 4px;
    margin-right: 10px;
	float: right;
}

.toolbar .qzone-btn {
    float: right;
	margin-top: 5px;
	margin-right: 10px;
	height: 30px;
}

.main-body {
	width:700px;
	margin-left: 20px;
}

.main-body .test {
	margin: 10px 0 10px 20px ;
}

.main-body .test .test-btn {
	display: block;
	height: 42px;
	position: relative;
	background: #f92500;
	text-decoration: none;
	margin-left: 100px;	
	width: 400px;
}

.main-body .test .test-btn span{
	padding-left: 10px;
	font-size: 14px;
	font-family: "Microsoft YaHei",SimSun;
	line-height: 40px;
	color: white;
	float: left;
	margin-left: 50px;
}

.main-body .test .test-btn b {
	display: block;
	width: 144px;
	height: 34px;
	line-height: 34px;
	position: absolute;
	top: 3px;
	right: 3px;
	overflow: hidden;
	font-size: 20px;
	font-weight: bold;
	color: #781900;
	font-family: "Microsoft YaHei",SimSun;
	text-align: center;
	letter-spacing: 3px;
	border: 1px solid #F29A01;
	text-shadow: 1px 1px 1px #DB9D19;
	box-shadow: 1px 1px 4px #AD1A01;
	filter: alpha(opacity = 100 finishopacity = 50 style = 1 startx = 0,starty = 0,finishx = 0,finishy = 150) progid:DXImageTransform.Microsoft.gradient(startcolorstr = #ffe53c,endcolorstr = #ffc417,gradientType = 0);
	-ms-filter: alpha(opacity = 100 finishopacity = 50 style = 1 startx = 0,starty = 0,finishx = 0,finishy = 150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffe53c,endcolorstr=#ffc417,gradientType=0);
	background: #FFC417;
	background: -moz-linear-gradient(top,#FFE53C,#FFC417);
	background: -webkit-gradient(linear,0 0,0 bottom,from(#FFE53C),to(#FFC417));
	background: -o-linear-gradient(top,#FFE53C,#FFC417);
	background: linear-gradient(top,#FFE53C,#FFC417);
	cursor: pointer;
}

.main-body .test .test-pic-list {
	height: 300px;
	margin: -20px 10px 30px 0;
	width: 700px;
}

.main-body .test .test-pic-list li {
	float:left ;
	margin:10px 5px;
	border: 1px solid #999;
}