<meta charset="GBK">
<title>#if($title && $title != "") $title - #end 豆蔻 - 星座贝贝 </title>

<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
<meta name="keywords" content="豆蔻,星座,女人,美丽" />
<meta name="description" content="星座贝贝是一款生活导购类应用，根据时尚热点结合生活场景，精选小巧别致的服装、配饰。做您的美丽顾问。#if($title && $title != "")豆蔻-$title#end"/>
#HS_QRES(["common.css", "index.css"])