<div class="pagination" id="pagination">
	<form method="get" action="$searchUrl" id="form_page">
		#parse("/common/dcome.namefate/_pagination.vm")
		<span class="page-op">
    		<span class="total-page">共 $totalPages 页</span>
			<span class="page-jump">
				<span>到<input type="text" name="page" value="$!curPage" class="to-page">页</span>
				<input type="submit" value="确定" class="submit">
			</span>
    		
    	</span>

    </form>
	
</div>	