<meta charset="GBK">
<title>#if($title && $title != "") $title - #end 豆蔻 </title>

<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
<meta name="keywords" content="豆蔻,搭配,折扣,潮品,女人,淘宝,购物,电子商务,商品折扣,店铺折扣,放心购物,省到底" />
<meta name="description" content="美丽帮你挑是一款生活导购类应用，根据时尚热点结合生活场景，精选小巧别致的服装、配饰。做您的美丽顾问。#if($title && $title != "")豆蔻-$title#end"/>
#DC_QRES(["pk/common.css","pk/index.css","css/winner.css"])
