<!DOCTYPE html>
<html>
<head>
	#parse("/common/zhe/head.vm")
</head>
<body>
	<div class="tixian-notify-dialog dd-hide" id="tixian-notify-dialog">
		<div class="content">
            <img src="${env.staticroot}/images/tixian_update.png"></img>
		</div>
		<div class="ikonw"><a href="javascript:;" class="tixian-ikonw-click">我知道了</a></div>
	</div>
	<div id="shadow-overlay" class="xbox-overlay-bg dd-hide"></div>
	
	<div id="xbox-mock" style="width: 600px; height: auto; top: 187px; left:409px;" class="ui-video-xbox ui-xbox-transparent dd-hide">
		<div class="ui-xbox-action">
			<a href="javascript:;" class="close-flash-xbox"></a>
		</div>
		<div class="ui-xbox-content">
			<div class="ui-show-video">
				<div class="flashXbox">
					<object id="player" width="550" height="400" type="application/x-shockwave-flash" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
						<param value="flv=null" name="flashvars">
						<param value="" name="movie" class="flash-src">
						<param value="" name="src" class="flash-src">
						<param value="transparent" name="wmode">
						<param value="-1" name="play">
						<param value="-1" name="loop">
						<param value="high" name="quality">
						<param value="always" name="allowscriptaccess">
						<param value="scale" name="scale">
						<param value="0" name="profileport">
						<param value="all" name="allownetworking">
						<param value="true" name="allowfullscreen">
						<param value="true" name="swLiveConnect">
						<embed allowfullscreen="true" width="550" height="400" wmode="transparent" swliveconnect="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" src="" class="flash-src" allowscriptaccess="always" flashvars="flv=null">
					</object>
				</div>
			</div>
		</div>
	</div>
	
	<div class="ddz">
		<div id="ddDialogOverlay" class="dd-hide dd-dialog-overlay"></div>
		<form target="_blank" action="${env.ddzRoot}/zhe/shop.htm" method="get" id="ddBrandsIptAlipayForm">
    		<input type="hidden" name="sid" value="" class="brandsShopId"/>
            <div class="dd-dialog dd-hide" id="ddInputDialog">
                <div class="dd-dialog-head">
                    <a href="javascript:;" id="ddDialogClose" data-dialogClose="ddInputDialog"><span class="dd-dialog-close"></span></a>
        		</div>
        		<div class="dd-dialog-content">
					<div class="dd-dialog-content-top">&nbsp;</div>
                    <div class="dd-dialog-slogan">&nbsp;</div>
                    <div class="dd-dialog-desc">请输入您的支付宝账号，点击按钮直接访问店铺，在店铺内购买任何商品（无需单独查询生成链接），均自动返现到您的支付宝账号中。</div>
        			<div class="dd-dialog-input"><input type="text" id="brandsAlipayInput" name="" class="alipay-input" placeholder="请输入支付宝账号"></div>
        			<div class="mt20"><a href="javascript:;" class="dd-dialog-submit"></a></div>
					<div class="dd-dialog-bottom">&nbsp;</div>
				</div>
        	</div>
        	
    	</form>
    	<form target="_blank" action="${env.ddzRoot}/zhe/shop.htm" method="get" id="ddBrandsRedirectForm">
    		<input type="hidden" name="sid" value="" class="brandsShopId"/>
        	<div class="dd-dialog dd-hide" id="ddRedirectDialog">
                <div class="dd-dialog-head">
                    <a href="javascript:;" id="ddDialogClose" data-dialogClose="ddRedirectDialog"><span class="dd-dialog-close"></span></a>
        		</div>
        		<div class="dd-dialog-content">
                    <div class="dd-dialog-content-top">&nbsp;</div>
                    <div class="dd-dialog-slogan">&nbsp;</div>
                    <div class="dd-dialog-desc">点击按钮直接访问店铺，在店铺内购买任何商品（无需单独查询生成链接），均自动返现到您的支付宝账号:</div>
                    <div class="dd-dialog-desc"><span class="dd-brands-alipay" id="brandsAlipay">$!alipayAccount</span><span><a href="javascript:;" id="changeBrandsAlipay">更改</a></span></div>
        			<div class="mt20"><a href="javascript:;" class="dd-dialog-submit"></a></div>
                    <div class="dd-dialog-bottom">&nbsp;</div>
                </div>
        	</div>
    	</form>
		
		<input type="hidden" id="ddzRoot" value="${env.ddzRoot}" />
		<input type="hidden" id="envRoot" value="${env.ddzRoot}" />
		<input type="hidden" id="alipayAccount" value="$!alipayAccount" />
		#parse("/common/zhe/top.vm")
		#parse("/common/zhe/tools.vm")
		<div class="banner-config-init" data-banner-id="ddz_top"></div>
		<div id="content" class="w952 bglight content">
			<div class="main">
				<div class="dd-clr">
					<h1>
						<a class="logo" href="${env.ddzRoot}/zhe/index.htm" title="点点折 省钱不止一点点">点点折</a>
					</h1>
				</div>
				<div class="search">
					<form id="search_form" method="get" action="${env.ddzRoot}/zhe/search.htm">
						#set($default_text = "请粘贴你要购买的淘宝宝贝网址")
    					<input type="text" name="wd" value="$!keyword" class="search-input" id="search_content" placeholder="$!default_text"/>
    					<button class="list-top-search-submit" id="submit" type="submit">搜 索</button>
                    </form>
				</div>
				<!--start guide -->
        		<script>
					var alipayAccount = '$!alipayAccount' ;
            		var zAccount = alipayAccount == '' ;
					var guideVar = {
						newGuide : true ,
						step1 : true , 
						step2 : true ,
						step3 : true ,
						step4 : false 
					} ;
					
					
            	</script>
        		<div></div>
				<div class="errurl-prompt dd-hide" id="errurlPrompt"></div>
				#if($guideVar.newGuide)
        		<a href="#" class="newGuide dd-hide" id="newGuide"></a>
				#end
				
        		<div class="step1 dd-hide" id="step1"></div>
				
        		<div class="step2 dd-hide" id="step2"></div>
				
        		<!-- end guide -->
        		
				$screen_content
			</div>
		</div>
		<!-- end content -->
		#parse("/common/zhe/bottom.vm")
	</div>
	
	#DDZ_JS(["lib/jquery-min.js","lib/common.js","home/control/widget/index.js"])
	<script src="http://a.tbcdn.cn/apps/top/x/sdk.js?appkey=12560096"></script>
	#DDZ_JS(["home/control/widget/loadBanner.js"])
	#parse("/common/zhe/google_analytics.vm")
</body>
</html>