<!DOCTYPE html>
<html>
<head>
<meta charset="gbk">
	#parse("/common/zhe/head.vm")
</head>
<body>
	<div class="ddz">
		#parse("/common/zhe/top.vm")
		##parse("/common/zhe/search_input.vm")
		
        <div class="list-content w990 clearfix">
        #***
        		<div class="list-search-filter">
        			<div class="list-search-filter-top"><span class="list-search-filter-top-text">商品筛选</span></div>
        			<div class="list-search-filter-title"><span class="list-search-filter-title-text">折扣率</span></div>
        			<ul>
        				<li><span class="#if($sort == 'credit_desc') list-search-filter-check #end""></span><a href="#SEARCH_URL()">不限</a></li>
        				<li><span class="list-search-filter-check"></span><a href="#SEARCH_URL(['startCommissionRate:500','endCommissionRate:10000'])">大于5%</a></li>
        				<li><span class="list-search-filter-check"></span><a href="#SEARCH_URL(['startCommissionRate:1000','endCommissionRate:10000'])">大于10%</a></li>
        				<li><span class="list-search-filter-check"></span><a href="#SEARCH_URL(['startCommissionRate:3000','endCommissionRate:10000'])">大于30%</a></li>
        				<li><span class="list-search-filter-check"></span><a href="#SEARCH_URL(['startCommissionRate:5000','endCommissionRate:10000'])">大于50%</a></li>
        			</ul>
        			<div class="list-search-filter-title"><span class="list-search-filter-title-text">信用</span></div>
        			<ul>
        				<li><span class="list-search-filter-check"></span><a href="">不限</a></li>
        				<li><span class="list-search-filter-check"></span><a href="">钻石店铺</a></li>
        				<li><span class="list-search-filter-check"></span><a href="">皇冠以上</a></li>
        				<li><span class="list-search-filter-check"></span><a href="">金冠以上</a></li>
        			</ul>
        			<div class="list-search-filter-title"><span class="list-search-filter-title-text">店铺类型</span></div>
        			
        			<ul>
        				<li><span class="list-search-filter-check"></span><a href="">全部店铺</a></li>
        				<li><span class="list-search-filter-check"></span><a href="">淘宝商城</a></li>
        			</ul>
        		</div>
        **#
    		<div class="list-main">
    			$screen_content
    		</div>
        </div>
		
		#parse("/common/zhe/bottom.vm")
	</div>
	
	

	#DDZ_JS(["lib/jquery-min.js","lib/common.js","home/control/widget/index.js"])
	#parse("/common/zhe/google_analytics.vm")

</body>
</html>