body {
	background-color: #f0efeb;
	font: 12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, footer, header, hgroup, nav, section {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none outside none;
}
.myhome {
	width: 995px;
	margin: 0 auto;
	margin-bottom:20px;
}
.myhome a:link, .myhome a:visited {
	color: #0088cc;
}
.myhome a:hover {
	color: #ff6a00;
}
.user-info-box .user-info .mobile-notice s, .user-info-box .user-info .email-notice s {
	background: url("../../../../img/myhome.png") no-repeat scroll 999px 999px transparent;
}
.main-container .menu .menu-title{
	background: url("../../../../img/myhome-rep.png") no-repeat scroll 999px 999px transparent;
}

.font-strong {
	font-size: 14px;
	font-weight: 700;
	color: #666666;
	letter-spacing: 2px;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: 500;
}
.global-separator {
	color: #CCCCCC;
	font-weight: normal;
}
.global-header-area {
	height: 65px;
	width: 100%;
	margin: 0 auto;
}
.global-header-area .global-logo {
	float: left;
}
.global-header-area .global-logo a {
	background: url("../../../../img/logo_201x110.png") no-repeat scroll -7px -22px  transparent;
	display: block;
	width: 200px;
	height: 68px;
}
.global-header-area .global-toplink {
	float: right;
	padding-right: 30px;
	padding-top: 14px;
	color: #666666;
}
.global-header-area .global-toplink a {
	color: #666666;
	display: inline-block;
	padding: 0 6px;
	text-decoration: none;
}
.user-info-box {
	height: 70px;
	width: 985px;
	margin: 0 auto;
	padding: 10px 0 10px 10px;
	background: none repeat scroll 0 0 #F7F7F7;
	border: 1px solid #CCCCCC;
}
.user-info-box .user-head {
	float: left;
}
.user-info-box .user-head img{
	border: 1px solid #CCCCCC;
}
.user-info-box .user-info {
	float: left;
	margin-left: 20px;
}

.user-info-box .user-info s {
    display: inline-block;
    height: 15px;
    overflow: hidden;
    vertical-align: middle;
    width: 16px;
}

.user-info-box .user-info .tips {
	color: #808080;
}

.user-info-box .user-info .account-id {
	color: #ff6a00;
}

.user-info-box .user-info .mobile-notice, .user-info-box .user-info .email-notice{
	color: #0088cc;
	margin-left: 5px;
}
.user-info-box .user-info .mobile-notice s{
	background-position: 0 -196px;
}
.user-info-box .user-info .email-notice s{
	background-position: 0 -246px;
}
.main-container {
	width: 100%;
	margin: 0 auto;
	margin-top: 10px
}
.main-container .menu {
	float: left;
	width: 190px;
	border: 1px solid #CCCCCC;
}
.main-container .menu .menu-title {
	height: 34px;
	border-bottom: 1px solid #CCCCCC;
	padding-left: 14px;
	line-height: 34px;
	background-position: 0 0;
	background-repeat: repeat-x;
}
.main-container .menu .memu-list {
	background-color: #FFF;
}
.main-container .menu .memu-list li {
	height: 30px;
	padding: 5px 0px 5px 14px;
}
.main-container .menu .memu-list li span {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #666666;
	letter-spacing: 2px;
	line-height: 24px;
}
.main-container .dakuan-icon {
	background: url("../../../../img/fk.jpg") no-repeat scroll left top transparent;
	width: 26px;
	height: 26px;
}
.main-container .content {
	float: left;
	margin-left: 10px;
	width: 977px;
}


#xbox-mock {
	position: absolute;
	background: white;
	z-index: 1002;
	color: black;
	text-align: left;
	top: 16%;
	left: 30%;
	overflow: hidden;
}

.xbox-mock {
	border: 6px solid #767576;
	-moz-box-shadow: 3px 2px 6px #333;
	-webkit-box-shadow: #333 2px 2px 6px;
}

#J-morderNotice .content,#J-login-check {
	padding: 10px;
}

#J-morderNotice .title,#J-login-check .title {
	margin-top: 5px;
}

.title h2 {
	font: 500 18px "ºÚÌå";
	float: left;
}

.xbox-close-link,.ico-xbox-close {
	padding-left: 14px;
	background-position: -2px -73px;
}

.xbox-close-link,.pop-close-link {
	display: block;
	height: 19px;
	right: 0;
	top: 0;
	font: 500 12px/19px Arial;
	position: absolute;
}

.ico-expand-arrow,.ico-plus,.ico-xbox-close,.xbox-close-link {
	background-image: url(../../../../images/ico-text.png);
	background-repeat: no-repeat;
	font-family: Tahoma;
}

.xbox-mock .line {
	height: 1px;
	margin: 3px 0;
	overflow: hidden;
	background: #E1E1E1;
}

.xbox-mock .title {
	display: block;
	overflow: hidden;
	position: relative;
	margin-top: 20px;
	margin-bottom: 6px;
}

.line-title {
	margin: 4px 0 -5px;
	_margin: 2px 0 -8px;
}

.notice-cnt .notice-cnt-uparea {
	display: block;
}

.customize-notice,.notice-cnt-uparea {
	background: url(../../../../images/ico-pa.png) -743px -655px no-repeat;
	color: #333;
	padding: 12px 0 12px 45px;
}

.fn-ml20 {
	margin-left: 20px;
}

.fn-mt20 {
	margin-top: 20px;
}

#J-noticeDesc,#J-login-check .tip-content {
	font-size: 14px;
	font-weight: bold;
	line-height: 130%;
}

.notice-cnt .notice-cnt-downarea {
	display: block;
	margin-top: 5px;
	line-height: 20px;
}

.notice-cnt-downarea .text-tit {
	margin-left: 59px;
}

.btn-ok {
	border: 1px #D74C00 solid;
	background-position: 0 0;
}

.btn-ok,.btn-ok-hover,.btn-cancel,.btn-ok-disabled,.btn button {
	font-size: 14px;
	padding: 1px;
}

a.xbox-close-link:hover,a.ico-xbox-close:hover,a.pop-close-link:hover,a.ico-expand-arrow:hover
	{
	text-decoration: none;
}

.btn,.btn-icon {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	line-height: 100%;
	text-align: left;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
	zoom: 1;
}

.btn,.btn input,.btn button,.btn span {
	background-image: url(../../../../images/bg-btn.png);
	background-repeat: repeat-x;
	font-family: Tahoma;
	cursor: pointer;
	outline: none;
}

.btn-ok-hover button,.btn-ok-hover input,.btn-ok-hover span,.btn-ok:hover span
	{
	background-position: 0 -36px;
}

.btn-ok span,.btn-ok-hover span,.btn-ok-hover:hover span {
	padding-bottom: 3px;
	_padding-bottom: 1px;
	_line-height: 28px;
	height: 26px;
}

.notice-cnt .notice-cnt-downarea {
	line-height: 20px;
}

.notice-cnt-downarea .text-gray {
	line-height: 42px;
	margin-left: 210px;
}

.notice-cnt-uparea-text .text-gray {
	display: block;
	color: #A6A6A6;
}

.notice-cnt-downarea .text-gray2 {
	color: #B7774B;
}

.notice-cnt-downarea .text-gray1 {
	margin-left: 56px;
}

.btn-ok button,.btn-ok input,.btn-ok span {
	background-position: 0 -70px;
}

.btn-ok button,.btn-ok input,.btn-ok span,.btn-ok-hover button,.btn-ok-hover input,.btn-ok-hover span,.btn-cancel button,.btn-cancel input,.btn-cancel span,.btn-ok-disabled input,.btn-ok-disabled span
	{
	padding: 0 16px;
	padding-bottom: 3px;
	height: 28px;
	line-height: 28px;
	font-weight: bold;
	color: white;
}

.btn span,.btn:hover span {
	display: block;
	float: left;
	text-decoration: none;
}

.btn-ok span,.btn-ok-hover span,.btn-ok-hover:hover span {
	padding-bottom: 3px;
	_padding-bottom: 1px;
	_line-height: 28px;
	height: 26px;
}

.xbox-mock .alipayIpt {
	width: 350px;
	line-height: 28px;
	font-size: 16px;
}

.xbox-overlay-bg {
	position: absolute;
	z-index: 997;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	filter: alpha(opacity=20);
	-moz-opacity: .20;
	opacity: .20;
}
