body {
	background-color: #f0efeb;
	font: 12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, footer, header, hgroup, nav, section {
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style: none outside none;
}

.main-container .menu .menu-title{
	background: url("../../../../img/myhome-rep.png") no-repeat scroll 999px 999px transparent;
}

.main-container {
	margin: 0 auto;
	margin-top: 10px;
	text-align:left;
}

.faq-gou {
    background: url("../../../../img/FAQ2.png") no-repeat scroll -4px -419px transparent;
    height: 15px;
    padding-left: 20px;
}

a{
    color: #333333;
    line-height: 28px;
    text-decoration: none;
}

a:visited {
    color: #333333;
}

.main-container .menu {
    border: 1px solid #CCCCCC;
    float: left;
    width: 260px;
}

.main-container .content {
    float: left;
    margin-left: 20px;
	margin-top: 10px;
    width: 690px;
}

.faq-content {
	line-height: 30px;
	padding: 5px 27px;
	text-align: left;
	width: 660px;
}

.faq-line{
	border-bottom: 1px solid #CCCCCC;
	height: 1px;
}

p{ margin-left: 21px;}

.faq-h2{
	color: #000000;
    font-size: 16px;
}

.fd-hide {
    display: none;
}

.helpMenu {
    border: 1px solid #DCDCDC;
    overflow: hidden;
    padding: 9px;
}

.helpMenu h2 {
    border-bottom: 1px solid #DCDCDC;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    padding-bottom: 12px;
}

.helpMenu h4 a {
    display: block;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding-left: 25px;
}

.content dt {
    margin-bottom: 20px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.content dd {
    line-height: 30px;
	padding-left: 20px;
}

.content .item-indent {
    padding-left: 10px;
}

.content dd ul {
    list-style-type: disc;
	list-style-position: inside;
}