######################
##Parameters : 
## totalPages : 总页数
## page : 当前页
## size ： 页大小
## keyword : 关键字
######################
#set($totalPages = $decimalUtils.createInt($totalPages))
#set($page = $decimalUtils.createInt($page , 1))
#set($size = $decimalUtils.createInt($size, 20))

#set($curPage = $page)

#if($curPage < 1)
	#set($curPage = 1) 
#elseif($curPage > $totalPages)
	#set($curPage = $totalPages)
#end

#set($rangeStart = 1)
#set($rangeEnd = $totalPages)

#set($prePage = ${curPage} - 1)
#set($nextPage = ${curPage} + 1)

#if($prePage < 1)
	#set($prePage = 1) 
#end
#if($nextPage > $totalPages)
	#set($nextPage = $totalPages) 
#end

<!--
	totalPages : $totalPages
    page : $page
    size ：$size
	prePage : $prePage
	nextPage : $nextPage
	curPage : $curPage
-->


<div class="list-pagination" style="clear:both;">
	<form method="get" action="${env.ddzRoot}/bops/zhe/account_list.htm" id="form_page">
		<input type="hidden" name="batchNo" value="$!batchNo"/>
		<input type="hidden" name="recommendType" value="$!recommendType"/>
		
		<div class="pagination-operation">
    		<span class="pagination-total">共 $totalPages 页</span> 
			到
			<input type="text" name="page" id="paginationJump" size="4" autocomplete="off" value="$!page" class="pagination-operation-input" /> 
			页 
    		<input type="submit" value="确定" id="jump-sub" / >
    	</div>
    </form>
	
	
	#if($page == 1)
	<span class="pagination-disable">上一页</span>
	#else
		#set($p = "page:" + $prePage)
	<a class="" href="#SEARCH_URL([$p])">上一页</a>
	#end
	
	#set($toPage = 0 )
	#set($_start = $curPage - 3)
	#if($_start < 1)
		#set ($_start = 1)
	#end
	#foreach($count in [0..4])
    	#set($toPage = $_start + $count)
    	#if($toPage >= $rangeStart && $toPage <= $rangeEnd) 
        	#if($toPage == $curPage)
        		<span class="pagination-disable current">$toPage</span>
        	#else
				#set($p = "page:" + $toPage)
				<a href="#SEARCH_URL([$p])">$toPage</a>
    		#end
    	#end
	#end
	
	#if($toPage < $totalPages)
		#set($p = "page:" + $totalPages)
	<span>...</span><a class="" href="#SEARCH_URL([$p])">$totalPages</a>
	#end
	
	#if($curPage == $totalPages)
	<span class="pagination-disable">下一页</span>
    #else
		#set($p = "page:" + $nextPage)
	<a href="#SEARCH_URL([$p])">下一页</a>
    #end
	
</div>
