#set($configMap = $!bannerConfigMap)
#set($layout="zhe/default_main.vm")
#DDZ_CSS(["home/control/widget/home/recommend.css"])


<div style="height:300px;">
    <div class="banner-config-init dd-hide" data-banner-id="ddz_index">
    	####parse("/common/zhe/recommend.vm")
    </div>
</div>



<input type="hidden" id="isNotify" value="$!isNotify" />

##parse("/common/zhe/brands.vm")



 