#set($layout="zhe/default_main.vm")
#set($title = $item.title)

#if($item)
    	
    #if($item.clickUrlShorten)
    	#set($itemClickUrl = "#DDZ_SHORT_URL($item.clickUrlShorten)")
    #elseif($item.clickUrl)
    	#set($itemClickUrl = $item.clickUrl)
    #else
		#set($itemClickUrl = $item.detailUrl)
	#end
    
        #if($alipayId)
			#set($cssName = "main-result-buy")
		#else
			#set($cssName = "main-result-ipt")
		#end
		
		<div class="$cssName dd-clr" id="item-show">
			#if($guideVar.step3)
			<div class="step3 dd-hide" id="step3"></div>
			#end
        	<div></div>
        	<div class="item-view">
                <ul>
                	<li>
                		<div class="item-img-view">
                			<a href="$!itemClickUrl" title="$!item.title" class="gtrack" gtrack="zhe/taobao/item/$!item.numIid?from=imgUrl" target="_blank"> <img src="$!item.sumPicUrl" alt="$!item.title" /> </a>
                		</div>
                		<div class="item-title-view dd-gray">
                			<a href="$!itemClickUrl" title="$!item.title" class="gtrack" gtrack="zhe/taobao/item/$!item.numIid?from=titleUrl" target="_blank">$!item.title</a>
                		</div>
                		<div class="discount-rate-view">
							#set($rate = $decimalUtils.formatTaobaoRate($!item.userCommissionRate))
                			<span class="discount-rate-num-int-view">$decimalUtils.format($rate ,"0")</span>
							<span class="discount-rate-num-float-view">$decimalUtils.fractionFormat($!rate,".00")</span>
                			<span class="discount-rate-percent-view">%</span>
                		</div>
                		<div class="item-price-view">
                            <span class="item-price-origin-view">原价:$decimalUtils.format($!item.showPrice,'######0.00')</span>
                			<span class="item-price-discount-view item-price-discount">返利:<strong>&yen;$decimalUtils.formatPrice($!item.userCommission)</strong></span>
                		</div>
                	</li>
                </ul>
        	</div>
			##显示折扣链接
            <div class="item-buy">
            	<div class="alipay-text-buy">
            		为支付宝账号 “<strong>$!alipayId</strong>” 生成的折扣链接：
            	</div>
            	<div class="alipay-text-change">
            		<a href="javascript:;" id="change_alipay"><strong>更改支付宝账号>></strong></a>
				</div>
            	<div class="item-buy-url">
            		<a href="$!itemClickUrl" id="buy_go_url" target="_blank" class="gtrack" gtrack="zhe/taobao/item/$!item.numIid?from=buyUrl"><strong>$!itemClickUrl</strong></a>
            	</div>
            	<div class="item-buy-go"></div>
            </div>
			##显示输入支付宝的页面
            <div class="item-ipt">
				<form method="get" action="${env.ddzRoot}/zhe/item.htm" name="alipay-form" id="alipay_form">
					<input type="hidden" name="id" value="$!id"/>
					#if($userGuide)
						<input type="hidden" name="userGuide" value="true"/>
					#end
                   	<div class="alipay-text-ipt  mfu">
                   		<strong>请输入支付宝账号：</strong>
                   	</div>
                   	<div class="alipay-input-ipt">
                   		<input class="alipay-input-ipt" type="text" name="alipayId" id="alipayInput" />
                   	</div>
					<a href="#" id="alipaySubmit">
                       	<div class="alipay-submit-ipt">
                       	</div>
					</a>
                </form>
            </div>
			#if($guideVar.step4 && $userGuide)
			<div class="step4 dd-hide" id="step4"></div>
			#end
			#if($userGuide)
			<div class="step5 dd-hide" id="step5"></div>
			<div class="step6 dd-hide" id="step6"></div>
			#end
        </div>
		
		
		
#else
	<div class="find-none dd-clr">
		对不起，该商品木有折扣!
	</div>
	#if($recommendList)
		<!--
	<ul id="mycarousel" class="jcarousel-skin-tango">
		#foreach($item in $recommendList)
	    <li><a href="${env.ddzRoot}/zhe/item.htm?id=$!item.numIid"><img src="$item.getPic('210x210')" width="132" height="132" alt="$item.title" /></a></li>
	    #end
	 </ul>
	 -->
	#end
#end