#set($layout="zhe/default_main.vm")
#set($title = $item.title)

<div class="dd-item-main">

#if($item)
    
	#set($userCommission = $!item.userJfbByMoney)
	#set($userCommissionRate = $decimalUtils.formatTaobaoRate($!item.userJfbRate))
	
	<input type="hidden" id="userCommissionRate" value="$!userCommissionRate" />
	<input type="hidden" id="itemId" value="$!item.numIid" />
	<input type="hidden" id="ddzRoot" value="${env.ddzRoot}" />
    #if($item.clickUrlShorten)
    	#set($itemClickUrl = "#DDZ_SHORT_URL($item.clickUrlShorten)")
    #elseif($item.clickUrl)
    	#set($itemClickUrl = $item.clickUrl)
    #else
		#set($itemClickUrl = $item.detailUrl)
	#end
    
        #if($alipayId)
			#set($cssName = "main-result-buy")
		#else
			#set($cssName = "main-result-ipt")
		#end
		
		<div class="$cssName dd-clr" id="item-show">
			#if($guideVar.step3)
			<div class="step3 dd-hide" id="step3"></div>
			#end
        	<div></div>
        	<div class="item-view">
                <ul>
                	<li>
                		<div class="item-img-view">
                			<a href="$!itemClickUrl" title="$!item.title" gtrack="virtual/zhe/taobao/item?id=$!item.numIid&from=imgUrl" target="_blank"> <img src="$!item.sumPicUrl" alt="$!item.title" /> </a>
                		</div>
                		<div class="item-title-view dd-gray">
                			<a href="$!itemClickUrl" title="$!item.title" gtrack="virtual/zhe/taobao/item?id=$!item.numIid&from=titleUrl" target="_blank">$!item.title</a>
                		</div>
                		<div class="discount-rate-view">
							#if($domain == 'ju.taobao.com')
								<div class="juhuasuan">
									该商品是聚划算活动商品，平均返利比例为<span>1%-3%</span>
                                </div>
                			#else
							<span class="discount-rate-num-int-view" id="maskCommissionRate">$decimalUtils.integerPart($userCommissionRate)<span class="discount-rate-num-float-view">$decimalUtils.fractionFormat($userCommissionRate,".00")</span></span>
                			<span class="discount-rate-percent-view">%</span>
							#end
                		</div>
                		<div class="item-price-view">
                            <span class="item-price-origin-view">原价:<span data-originPrice="" >$decimalUtils.format($!item.showPrice,'0.00')</span></span>
							#if($domain != 'ju.taobao.com')
                            <span class="item-price-discount-view item-price-discount">
                                <span class="commission-label">可省约&nbsp;&yen;</span>
								<!--<span class="jfb-icon">#JFB_ICON("12x12")</span>-->
								<strong id="itemUserCommissionShow"><span data-userCommission="">$decimalUtils.format($!userCommission,'0.00')</span></strong>
							</span>
							#end
							<dt class="rumour"><i></i>请放心，付款价格以店铺实际活动价为准</dt>
                		</div>
						
						
                	</li>
                </ul>
        	</div>
			##显示折扣链接
            <div class="item-buy">
            	<div class="alipay-text-buy">
            		为支付宝账号 “<strong>$!alipayId</strong>” 生成的折扣链接：
            	</div>
            	<div class="alipay-text-change">
            		<a href="javascript:;" id="change_alipay"><strong>更改支付宝账号>></strong></a>
				</div>
            	<div class="item-buy-url">
					<a href="$!itemClickUrl" id="buy_go_url" target="_blank" gtrack="virtual/zhe/taobao/item?id=$!item.numIid&from=buyUrl" class="go-btn">
                        <div class="">去购物，拿返利</div>
					</a>
					<div id="tixian-tip" class="select-tips dd-hide">
                		<div class="content">确认收货后记得回来提现哦~</div>
						<div class="angle-top" style="top: -7px;left:140px;"></div>
                	</div>
            	</div>
            	
				<div id="ckepop">
					
                    <span class="jiathis_txt alipay-text-buy">分享到：</span>
                	<a class="jiathis_button_qzone" gtrack="virtual/zhe/item/share?id=$!item.numIid&btn=qzone"></a>
                	<a class="jiathis_button_tsina" gtrack="virtual/zhe/item/share?id=$!item.numIid&btn=tsina"></a>
                	<a class="jiathis_button_tqq" gtrack="virtual/zhe/item/share?id=$!item.numIid&btn=tqq"></a>
                	<a class="jiathis_button_renren" gtrack="virtual/zhe/item/share?id=$!item.numIid&btn=renren"></a>
                	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank" gtrack="virtual/zhe/item/share?id=$!item.numIid&btn=more">更多</a>					
                </div>
            </div>
			##显示输入支付宝的页面
            <div class="item-ipt">
				<form method="get" action="${env.ddzRoot}/zhe/item.htm" name="alipay-form" id="alipay_form">
					<input type="hidden" name="domain" value="$!domain"/>
					<input type="hidden" name="id" value="$!id"/>
					#if($userGuide)
						<input type="hidden" name="userGuide" value="true" id="userGuide"/>
					#end
                   	<div class="alipay-text-ipt  mfu">
                   		<strong>请输入支付宝账号：</strong>
                   	</div>
                   	<div class="alipay-input-ipt">
                   		<input class="alipay-input-ipt" type="text" name="alipayId" id="alipayInput" />
                   	</div>
					<a href="#" id="alipaySubmit">
                       	<div class="alipay-submit-ipt"></div>
					</a>
                </form>
            </div>
			#if($guideVar.step4 && $userGuide)
			<div class="step4 dd-hide" id="step4"></div>
			#end
			#if($userGuide)
			<div class="step5 dd-hide" id="step5"></div>
			<div class="step6 dd-hide" id="step6"></div>
			#end
        </div>
		
#else
	<div class="find-none dd-clr">
		#if($errorCode == "ddz.item.dangerKeyword")
			对不起，您搜索的商品包含非法信息
		#elseif($errorCode == "ddz.item.notFound")
			对不起，您输入的淘宝商品链接错误！
		#end
	</div>
#end
	
	<div class="jfb_study">自2013年1月1日起，淘宝返利将由提现到支付宝余额升级为提现至支付宝集分宝&nbsp;<a href="${env.ddzHelproot}/help/jfb.html" target="_blank">查看详情>></a> &nbsp;<a href="javascript:;" class="jfb-study-video">什么是支付宝集分宝>></a></div>
</div>




#if($alipayId)
<!-- JiaThis Button BEGIN -->
<script type="text/javascript">

var jiathis_config = {
	imageUrl:"$!item.sumPicUrl",
	title:"推荐我喜欢的这款 【$!item.title】，用 @点点折网 还能再省#if($userCommission > 0.1) $decimalUtils.format($!userCommission,"0")% #end，现在淘宝购物我都用一下这个工具，能省不少钱。快去看看吧",
	summary:"",
	imageUrl:"${env.ddzRoot}/zhe/itemRecommend.htm?id=$item.numIid",
	url:"${env.ddzRoot}/zhe/itemRecommend.htm?id=$item.numIid",
    evt: {"share":""}
}
</script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js?uid=1334585669756178" charset="utf-8"></script>
<!-- JiaThis Button END -->
#end

