#set($layout="zhe/default_list.vm")

#set($title = $keyword)

#set($page = $itemList.pagination.page)
#set($size = $itemList.pagination.size)
#set($totalRecords = $itemList.totalRecords)
#if($totalRecords>($itemList.pagination.totalPages * $size))
	#set($totalRecords=($itemList.pagination.totalPages * $size))
#end

#set($searchQuery = ["sort:$!sort","keyword:$!keyword","startPrice:$!startPrice","endPrice:$!endPrice","page:$!page"])
#set($searchUrl = ${env.ddzRoot}+"/zhe/keyword.htm?") 






<div class="list-search-keyword">
	<div class="line">
	<form action="${env.ddzRoot}/zhe/keyword.htm" method="get" id="keyword_filter_form">
		<input type="hidden" name="sort" value="$!sort"/>
		<input type="hidden" name="page" value="1"/>
		关键词：<input type="text" class="keyword-input" name="keyword" value="#ESC_HTML($!keyword)" id="keyword"/> &nbsp;&nbsp;&nbsp;
		价格：<input type="text" class="price-input" name="startPrice" value="$!startPrice" id="startPrice" size="8" /> - <input type="text" class="price-input" name="endPrice" value="$!endPrice" id="endPrice" size="8"/> 元 &nbsp;&nbsp;&nbsp;
		<!--<a href="javascript:;" class="list-search-keyword-submit" id="keyword_submit">确定</a>-->
		<button type="submit" class="list-search-keyword-submit" id="keyword_submit">确定</button>
		
	</form>
	</div> 
</div>

<div class="list-search-order">
	<div class="line">
		<ul>
			<li class="color-gray">排序:</li>
			<li class="#if($sort == '' || !$sort) selected #end"><a href="#SEARCH_URL(['sort:'])">默认</a></li>
			<li class="#if($sort == 'credit_desc') selected #end"><a class="pjust12" href="#SEARCH_URL(['sort:credit_desc'])">信用<span class="list-search-order-down"></span></a></li>
			<li class="#if($sort == 'commissionRate_desc') selected #end"><a class="pjust12" href="#SEARCH_URL(['sort:commissionRate_desc'])">返利<span class="list-search-order-down"></span></a></li>
			<li class="#if($sort == 'commissionNum_desc') selected #end"><a class="pjust12" href="#SEARCH_URL(['sort:commissionNum_desc'])">销量<span class="list-search-order-down"></span></a></li>
			#if($sort == 'price_asc')
				#set($priceOrder = 'list-search-order-up')
				#set($priceTo = 'sort:price_desc')
			#elseif($sort == 'price_desc')
				#set($priceOrder = 'list-search-order-down')
				#set($priceTo = 'sort:price_asc')
			#else
				#set($priceOrder = 'list-search-order-default')
				#set($priceTo = 'sort:price_desc')
			#end
			<li class="#if($sort == 'price_desc' || $sort == 'price_asc') selected #end"><a class="pjust12" href="#SEARCH_URL([$priceTo])">价格<span class="$priceOrder"></span></a></li>
		</ul>
		<div class="white-vert-line"></div>
	</div>
</div>

<div class="list-search-item-container">
	#if($collectionUtils.isEmpty($itemList.items))
		没有查询到与“<span class="H">#ESC_HTML($!keyword)</span>”相关的记录
	#else
		#foreach($item in $itemList.items)
			#set($itemClickUrl = "#DDZ_ITEM_URL($!item.numIid)")
			#set($rate = $decimalUtils.divide($!item.userCommissionRate,"100.00"))
			#set($count = $velocityCount % 4)
			<div class="list-search-item #if($count != 0) rmargin #end">
				<div class="list-search-item-top">
					<a href="$!itemClickUrl" title="$!item.title" target="_blank">
						<img class="list-search-item-img" alt="" src="$!item.getPic('210x210')"></img>
                    </a>
					<div class="list-search-item-title"><a href="$!itemClickUrl" class="title dd-gray" title="$!item.title" target="_blank">$!item.titleHighlight</a></div>
                </div>
				<div class="list-search-item-price">
					<div class="list-search-item-price-line">淘宝价：<span class="list-search-item-price-org">&yen;$!item.showPrice </span></div>
					<div class="list-search-item-price-line">返现： <span class="list-search-item-price-discount">&yen;$decimalUtils.format($!item.userCommission , '####0.00')</span>&nbsp;&nbsp;可优惠：<span class="list-search-item-price-discount">$decimalUtils.format($!rate , '####0.00')%</span></div>
					<div class="list-search-item-price-line"><span class="list-search-item-price-shop">$!item.nick</span><span><img class="list-search-item-price-rank"  src="$!item.sellerCreditScorePic"></span></div>
				</div>
				<div class="list-search-item-price-deal"><span>最近成交：$!item.volume</span></div>
			</div>
		#end
	
	#set($pageURL=${env.ddzRoot} + "/zhe/keyword/" + $!mark + "?keyword=" + $!keyword)
	#if($!sort)
		#set($pageURL=${pageURL} + "&sort="+ $!sort)
	#end
	#if($!startPrice)
		#set($pageURL=${pageURL} + "&startPrice="+ $!startPrice)
	#end
	#if($!endPrice)
		#set($pageURL=${pageURL} + "&endPrice="+ $!endPrice)
	#end
	#parse("/common/zhe/seoPage.vm")
	
	#end
</div>
