#set($layout="zhe/default_list.vm")
#DDZ_CSS(["home/screens/myhome/faq.css"])
<div class="main-container w990">
    <div class="menu">
        <div class="menu-title font-strong">
            <h4 align="left "  style="font-size: 20px;" >帮助中心</h4>
        </div>
        <div class="memu-list">
            <ul>
                <li>
                    <a>
                        <span class="dd-left">
                            <a href="#q1">什么是返利?</a>
                        </span>
                        <div class=" dd-clear"></div>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="dd-left">
                            <a href="#q2">哪些网购商品可以享受返利？</a>
                        </span>
                        <div class=" dd-clear"></div>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="dd-left">
                            <a href="#q3">怎样知道商品有没有返利?</a>
                        </span>
                        <div class=" dd-clear"></div>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="dd-left">
                            <a href="#q4">点点折支持商品关键字搜索吗？</a>
                        </span>
                        <div class=" dd-clear"></div>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="dd-left">
                            <a href="#q5">怎样计算返利金额？</a>
                        </span>
                        <div class=" dd-clear"></div>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="dd-left">
                            <a href="#q6">返利比率是固定的吗？</a>
                        </span>
                        <div class=" dd-clear"></div>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="dd-left">
                            <a href="#q7">这些情况下还能享受返利吗？</a>
                        </span>
                        <div class=" dd-clear"></div>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="dd-left">
                            <a href="#q8">我什么时候能收到返利？</a>
                        </span>
                        <div class=" dd-clear"></div>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="dd-left">
                            <a href="#q9">哪些商品不会返利?</a>
                        </span>
                        <div class=" dd-clear"></div>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="dd-left">
                            <a href="#q10">如何查看我的返利记录？</a>
                        </span>
                        <div class=" dd-clear"></div>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="dd-left">
                            <a href="#q11">返利链接有效期是多久？</a>
                        </span>
                        <div class=" dd-clear"></div>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="dd-left">
                            <a href="#q12">收不到点点折返利通知邮件怎么办？</a>
                        </span>
                        <div class=" dd-clear"></div>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="dd-left">
                            <a href="#q13">为什么在后台中无法查到返利记录？</a>
                        </span>
                        <div class=" dd-clear"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content myhome-table">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr align="center" class="title">
                <th class="width-144"></th>
            </tr>
            <tr align="center">
                <td class="first">
                    <div class="faq-content">
                        <h2 id="q1"  class="faq-h2" >
                            <em class="faq_gou"></em>
                            什么是返利？</h2>
                            <p>
                                返利是付费推广机制的一种形式，简单讲就是很多商家在商品利润中预留了一部分给推广者。点点折则是让买家自己以推广者的身份购买，享受商家提供的推广回报获取现金返还，简称返利。</p>
                                <div class="faq-line"></div>
                                <h2 id="q2" class="faq-h2" >
                                    <em class="faq_gou"></em>
                                    哪些网购商品可以享受返利？</h2>
                                    <p>
                                        目前只支持淘宝网的商品返利。后续会接入更多商家。
                                    </p>
                                    <div class="faq-line"></div>
                                    <h2 id="q3" class="faq-h2" >
                                        <em class="faq_gou"></em>
                                        怎样知道商品有没有返利？</h2>
                                        <p>
                                            您只需将在淘宝网挑好的商品链接复制到点点折搜索框，点击查询就能获得返利信息。
                                        </p>
                                        <div class="faq-line"></div>
                                        <h2 id="q4"  class="faq-h2" >
                                            <em class="faq_gou"></em>
                                            点点折支持商品关键字搜索吗？</h2>
                                            <p>
                                                可以。请直接填写商品名称搜索。
                                            </p>
                                            <div class="faq-line"></div>
                                            <h2 id="q5"  class="faq-h2"  >
                                                <em class="faq_gou"></em>
                                                怎样计算返利金额?</h2>
                                                <p>
                                                    返利金额=实际支付金额(不含运费)*返利比率
                                                </p>
                                                <div class="faq-line"></div>
                                                <h2 id="q6"  class="faq-h2" >
                                                    <em class="faq_gou"></em>
                                                    返利比率是固定的吗？</h2>
                                                    <p>
                                                        返利比率会根据商家的设置上下浮动，查询结果信息仅供参考，实际返利比率以下订单时商家设定的实际值为准。
                                                    </p>
                                                    <div class="faq-line"></div>
                                                    <h2 id="q7"  class="faq-h2" >
                                                        <em class="faq_gou"></em>
                                                        我什么时候能收到返利？</h2>
                                                        <p>在您确认收货后的10-15日内系统会自动结算，所结款项直接汇入您的支付宝账户。请留意邮件和短信通知。
                                                        </p>
                                                        <div class="faq-line"></div>
                                                        <h2 id="q8"  class="faq-h2" >
                                                            <em class="faq_gou"></em>
                                                            哪些商品不会返利？</h2>
                                                            <p>
                                                                根据淘宝网相关规定虚拟商品都不参加返利推广，以下虚拟商品类目供参考：<br>
                                                                    移动/联通/小灵通充值中心<br>
                                                                        手机号码/套餐/增值业务<br>
                                                                            网络游戏点卡<br>
                                                                                网游垂直市场根类目<br>
                                                                                    网游装备/游戏币/帐号/代练<br>
                                                                                        腾讯QQ专区<br>
                                                                                            网络会员卡/付费卡<br>
                                                                                                充值平台软件/加款卡<br>
                                                                                                    Skype充值专区<br>
                                                                                                        网络电话卡<br>
                                                                                                            软件cd-key/序列号<br>
</p>
<div class="faq-line"></div>
<h2 id="q9"  class="faq-h2" >
    <em class="faq_gou"></em>
    如何查看我的返利记录？</h2>
    <p>
        打开点点折，点击登录。
        进入“我的点点折”即可查看详细返利记录。
    </p>
    <div class="faq-line"></div>
    <h2 id="q10"  class="faq-h2" >
        <em class="faq_gou"></em>
        以下情况还能享受返利吗？</h2>
        <p>
            1）、商家已有打折促销等优惠。 <br>
            答：可以。<br>
            返利收入= 实际支付金额x返利比率。<br>
            例：您查询到的宝贝折扣为10%，宝贝原价为150元，商家促销价为100元，则您的实际返利收入为：100×10%=10元。 <br>
            2）、拍下返利宝贝后，掌柜改价。<br> 
            答：可以。<br>
            返利收入= 实际支付金额（不含运费）x返利比率。 <br>
            3）、通过点点折生成返利链到淘宝页面后，用购物车合并付款。<br> 
            答：可以。 <br>
            只要使用返利链接，无论是直接购买还是加入购物车，均可享受返利。<br>
            若购买多个返利商品时，建议将它们逐个生成返利链接，加入购物车一起付款。<br>
            4）、用点点折生成了链接，拍下后并未马上付款 <br>
            答：可以。 <br>
            拍下商品后未马上付款，过段时间从已买到宝贝里统一付款也能继续享受返利。<br>
        </p>
		<div class="faq-line"></div>
<h2 id="q11"  class="faq-h2" >
    <em class="faq_gou"></em>
    返利链接有效期是多久？</h2>
    <p>
        答：15天
    </p>
	<div class="faq-line"></div>
<h2 id="q12"  class="faq-h2" >
    <em class="faq_gou"></em>
    收不到点点折返利通知邮件怎么办？</h2>
    <p>
        1、请确认邮件是否在垃圾箱中。<br>
2、请确认您未将help@diandianzhe.com列入黑名单。<br>
3、如仍未到邮件，请登录点点折核对您的邮箱地址。建议使用163，QQ，新浪，搜狐，hotmail和Gmail邮箱。<br>

    </p>
	<div class="faq-line"></div>
<h2 id="q13"  class="faq-h2" >
    <em class="faq_gou"></em>
    为什么在后台中无法查到返利记录？？</h2>
    <p>
        请先自我排查以下情况，以下任何一种情况都可能造成订单丢失：<br> 
1、没有通过点点折的折扣链接进入淘宝购物 <br>
2、购买的商品为虚拟商品（与淘宝签有合作协议，没有返利） <br>
3、未确认收货<br>
4、在A电脑查完折扣却在B电脑购买（换电脑购买需重新生成折扣链接）<br>
5、通过点点折进入淘宝后未立即下单购买，又浏览了一些其他可能的推广链接或者网站。<br>
6、电脑安装了其他返利软件或浏览器插件（可能返还到这些软件提供商，无法从点点折获得折扣）<br>
7、没有正确填写支付宝账号。<br>
    </p>
		
</div>
</td>
</tr>
</table>
</div>
</div>
